@use 'variables';

.button {
  background-color: variables.$color1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 32px;

  &__box {
    position: relative;
  }

  &__shadow {
    width: 60px;
    height: 60px;
    background-color: variables.$color2;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    z-index: -1;
  }
  &:active {
    transform: translateY(4px);
  }
}
